body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    border-style: outset;
    border-width: 5px;
    background-color: lightskyblue;
    align-items: center;
    height: 100px;
    margin: auto;
}

.startbutton {
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

.startbutton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*Calendar block*/
.calendar {
    border-style: outset;
    border-width: 5px;
    background-color: #33AAFF;
    width: 600px;
    height: 440px;
    align-items: center;
    float: left;
}

/*Buttons block*/
.buttons {
    border-style: outset;
    border-width: 5px;
    background-color: #33AAFF;
    width: 250px;
    height: 440px;
    align-items: center;
    float: left;
}

/*Button*/
.button {
    align-self: center;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*Notifications block*/
.notifications {
    border-style: outset;
    border-width: 5px;
    background-color: #A633FF;
    align-items: center;
    left: 10px;
    width: 350px;
    height: 440px;
    float: right;
}

.table, th, td {
    border: 3px solid black;
    align-self: center;
    background-color: white;
}

/*Remove notification button*/
.removebtn {
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

.removebtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}