body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Title block*/
.title {
    border-style: outset;
    border-width: 5px;
    background-color: lightskyblue;
    align-items: center;
    height: 100px;
    margin: auto;
}

/*Style for login and register block*/
.loginregister {
    border-style: outset;
    border-width: 5px;
    background-color: #A633FF;
    align-items: center;
    left: 10px;
    width: 300px;
    height: 440px;
    float: left;
}

/*Staff login button*/
.redirectstafflogin {
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

.redirectstafflogin:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*Staff register button*/
.redirectstaffregister {
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid black;
}

.redirectstaffregister:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/*Searching restaurant block*/
.searchrestaurant {
    border-style: outset;
    border-width: 5px;
    background-color: #33AAFF;
    width: 920px;
    height: 440px;
    align-items: center;
    float: right;
}

/*Reserve for restaurant 1 box*/
.reserve_restaurant1box {
    display: none;
    z-index: 1;
    left: 350px;
    top: 20px;
    position: fixed;
    background-color: deepskyblue;
    width: 50%;
    height: 90%;
    border: 3px solid black;
    align-items: center;
    overflow: auto;
}

.reserve_restaurant1content {
    padding: 50px;
    margin: auto;
    width: 80%;
    height: 80%;
    align-items: center;
}

/*Order for restaurant 1 box*/
.order_restaurant1box {
    display: none;
    z-index: 1;
    left: 350px;
    top: 20px;
    position: fixed;
    background-color: deepskyblue;
    width: 50%;
    height: 90%;
    border: 3px solid black;
    align-items: center;
    overflow: auto;
}

.order_restaurant1content {
    padding: 50px;
    margin: auto;
    width: 80%;
    height: 80%;
    align-items: center;
}

/*Reserve button*/
.reservebtn {
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

.reservebtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*Order button*/
.orderbtn {
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid black;
}

.orderbtn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}