<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'menustyle.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    {% load crispy_forms_tags %}

    <div class="navbar">
        <h1 align="center"><b>Menu</b></h1>
        <form align="right" action="/staffhome">
            <input class="startbutton" type="submit" value="Home Page"/>
        </form>
    </div>

    <div class="AddDish">
        <p align="center">Add Dish</p>
        <form align="center" method="POST" action="menu/">
            {% csrf_token %}
            {{ AddDish|crispy }}
            <input type="submit" value="Add dish"/>
        </form>
    </div>

    <div class="AddMenu">
        <p align="center">Add Menu</p>
        <form align="center" method="POST" action="menu/">
            {% csrf_token %}
            {{ AddMenu|crispy  }}
            <input type="submit" value="Upload menu"/>
        </form>
    </div>

    <div class="Dishes">
        <form align="center" method="get" action="menu/">
            <input type="text" name="name" placeholder="Search for dish by name" />
            <button type="submit">Search</button>
        </form>

        <table>
        <tr>
            <th>Dish Name</th>
            <th>Price</th>
        </tr>
        {% for dish in dishes %}
        <tr>
            <td>{{ dish.dish_name }}</td>
            <td>{{ dish.dish_price }}</td>
        </tr>
        {% endfor %}
        </table>

    </div>
</body>
</html>