<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservestyle.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    {% load crispy_forms_tags %}

    <div class="navbar">
        <h1 align="center"><b>Reserve</b></h1>
        <form align="right" action="/">
            <input class="startbutton" type="submit" value="Start Page"/>
        </form>
    </div>

        <form align="center" method="POST" action="">
            {% csrf_token %}

            <div class="reserveblock">
                {{ reserveform|crispy }}
                {{ personform|crispy}}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="submit" value="Reserve"/>
            </div>
        </form>
        
        <div class="menublock" align="right">
            <table width=100%>
                <tr>
                    <th>Dish Name</th>
                    <th>Price</th>
                </tr>
            {% for dish in dishes %}
                <tr>
                    <td>{{ dish.dish_name }}</td>
                    <td>{{ dish.dish_price }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        
</body>
</html>