<html>
<head>
    <title>Info</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'restaurantinfostyle.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    {% load crispy_forms_tags %}

    <div class="navbar">
        <h1 align="center"><b>Restaurant Information</b></h1>
        <form align="right" action="/staffhome">
            <input class="startbutton" type="submit" value="Home Page"/>
        </form>
    </div>

    <div class="info">
        <h3 align="center"><strong>Edit restaurant information.</strong></h3>

        <form align="center" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="startbutton" type="submit" value="Update"/>
        </form>
    </div>
</body>
</html>