<html>
<head>
    <title>Register</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'staffregisterstyle.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    {% load crispy_forms_tags %}

    <div class="navbar">
        <h1 align="center"><b>Staff Register Page</b></h1>
        <form align="right" action="/">
            <input class="startbutton" type="submit" value="Start Page"/>
        </form>
    </div>

    <div class="staffregister">
        <h3 align="center"><strong>Fill out this form to create an account.</strong></h3>
        <form align="center" method="post">
            {% csrf_token %}
            {{ registerform|crispy }}

        <h3 align="center"><strong>Enter restaurant information here.</strong></h3>
            {{ restinfoform|crispy }}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <input class="staffregisterbutton" type="submit" value="Register"/>
        </form>
    </div>
</body>
</html>