<html>
<head>
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'staffloginstyle.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    {% load crispy_forms_tags %}

    <div class="navbar">
        <h1 align="center"><b>Staff Login Page</b></h1>
        <form align="right" action="/">
            <input class="startbutton" type="submit" value="Start Page"/>
        </form>
    </div>

    <div class="stafflogin">
        <p align="center"><strong>Enter username and password to login.</strong></p>
        <form align="center" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="staffloginbutton" type="submit" value="Login"/>
        </form>
    </div>

    <div class="staffregister">
        <p align="center"><strong>No account? Register here.</strong></p>
        <form align="center" action="accounts/register">
            <input class="startbutton" type="submit" value="Register"/>
        </form>
    </div>
</body>
</html>
