<html>
<head>
    <title>Register</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'staffregisterstyle.css' %}" />
</head>

<body>
    <div class="navbar">
        <h1 align="center"><b>Staff Register Page</b></h1>
        <form align="right" action="/">
            <input class="startbutton" type="submit" value="Start Page"/>
        </form>
    </div>

    <div class="staffregister">
        <p align="center"><strong>Fill out this form to create an account.</strong></p>
        <form align="center" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Log in"></p>
        </form>
    </div>
</body>
</html>