<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'staffhomestyle.css' %}" />
</head>
<body>
    <div class="navbar">
        <h1 align="center"><b>Home</b></h1>
        <form align="right" action="accounts/logout/">
            <input class="startbutton" type="submit" value="Logout"/>
        </form>
    </div>

    <div class="tablelayout">
        <h1 align="center">Table Layout</h1>
    </div>

    <div class="buttons">
        <table>
            <tr>
                <td><form align="center" action="/menu">
                    <input class="button" type="submit" value="Menu"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td><form align="center">
                    <input class="button" type="submit" value="Print bill"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td><form align="center">
                    <input class="button" type="submit" value="Order dishes"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td><form align="center">
                    <input class="button" type="submit" value="Add additional information"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="notifications">
        <h1 align="center">Notifications</h1>
        <table>
            <tr>
                <th>Number of people</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.no_of_people }}</td>
                <td>{{ reservation.date_of_booking }}</td>
                <td>{{ reservation.time_of_booking }}</td>

                <td><a href='remove/{{reservation.reservationID}}/'>Remove</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>