<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'staffhomestyle.css' %}" />
</head>
<body>
    <div class="navbar">
        <h1 align="center"><b>Home</b></h1>
        <form align="right" action="/">
            <input class="startbutton" type="submit" value="Start Page"/>
        </form>
    </div>

    <div class="tablelayout">
        <h1 align="center">Table Layout</h1>
    </div>

    <div class="buttons">
        <table>
            <tr>
                <td><form align="center" action="/menu">
                    <input class="button" type="submit" value="Menu"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td><form align="center">
                    <input class="button" type="submit" value="Print bill"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td><form align="center">
                    <input class="button" type="submit" value="Order dishes"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td><form align="center">
                    <input class="button" type="submit" value="Add additional information"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="calendar">
        <div class="months">
            <p>Month</p>
        </div>
        <table>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </table>
    </div>

    <div class="notifications">
        <h1 align="center">Notifications</h1>
        <table style="width:100%">
            <tr>
                <th>Number of people</th>
                <th>Date and time</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr>
                {% for reservation in reservations %}
                <td>{{ reservation.no_of_people }}</td>
                <td>{{ reservation.date_of_booking }}, {{ reservation.time_of_booking }}</td>

                <td>{{ reservation.first_name }}, {{ reservation.second_name }}</td>
                <td>{{ reservation.phone_no }}</td>
                <td>{{ reservation.email }}</td>
                {% endfor %}

                <td><form align="center" action="staffhome/">
                <input class="removebtn" type="submit" value="Remove"/>
                </form></td>
            </tr>
        </table>
    </div>
</body>
</html>