<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'startstyle.css' %}" />
</head>
<body>

    <div class="title">
        <h1 align ="center">Restaurant Booking System</h1>
    </div>

    <div class="loginregister">
        <h2 align="center">Login to your account.</h2>

        <!--Staff Login-->
        <p align="center"><font size="4">Staff login</font></p>
        <form align="center" action="stafflogin/" method="post">
            {% csrf_token %}
            <input class="redirectstafflogin" type="submit" value="Staff Log in"/>
        </form>

        <h2 align="center">Register an account.</h2>

        <!--Staff register-->
        <p align="center"><font size="4">Staff register</font></p>
        <form align="center" action="staffregister/" method="post">
            {% csrf_token %}
            <input class="redirectstaffregister" type="submit" value="Staff Register"/>
        </form>
    </div>

    <!--Searching up for a restaurant box-->
    <div class="searchrestaurant">
        <form align="center" action="/" method="post">
        {% csrf_token %}
        <input align="center" type="text" placeholder="Search for a restaurant"/>
        <input type="submit" value="Search"/>
        </form>

        <p></p>

        <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
        {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.address }}</td>
            <td>{{ restaurant.phone_no }}</td>

            <td><form align="center" action="reserve/" method="post">
                {% csrf_token %}
                <input class="reservebtn" type="submit" value="Reserve"/>
                </form></td>
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>