<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'startstyle.css' %}" />
</head>
<body>

    <div class="title">
        <h1 align ="center">Restaurant Booking System</h1>
    </div>

    <div class="loginregister">
        <h2 align="center">Login to your account.</h2>

        <!--Staff Login-->
        <p align="center"><font size="4">Staff login</font></p>
        <form align="center" action="accounts/login/">
            <input class="redirectstafflogin" type="submit" value="Staff Log in"/>
        </form>

        <h2 align="center">Register an account.</h2>

        <!--Staff register-->
        <p align="center"><font size="4">Staff register</font></p>
        <form align="center" action="accounts/register/">
            <input class="redirectstaffregister" type="submit" value="Staff Register"/>
        </form>
    </div>

    <!--Searching up for a restaurant box-->
    <div class="searchrestaurant">
        <form align="center" method="get" action="">
            <input type="text" name="name" size="100" placeholder="Search for restaurant by name" />
            <button type="submit">Search</button>
        </form>

        <table class="restaurantsinfo">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
        {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant.rest_name }}</td>
            <td>{{ restaurant.rest_address }}</td>
            <td>{{ restaurant.rest_phone_no }}</td>

            <td><a href='reserve/{{restaurant.restaurantID}}/'>Reserve</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>